.configuration-controller-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #475569;
}

.configuration-controller-context {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 550px;
}

@media screen and (min-width: 768px) {
  .configuration-controller-context {
    max-width: 1140px;
  }
}

.layout-heading {
  font-family: 'Roboto';
  color: #f1f5f9;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .layout-heading {
    font-size: 44px;
  }
}

.checkbox-group-container {
  display: flex;
  flex-direction: column;
}

.checkbox-and-label-container {
  display: flex;
  align-content: center;
  margin-bottom: 16px;
}

.input-checkbox {
  width: 14px;
  height: 14px;
}

.label-text {
  font-family: 'Roboto';
  font-size: 15px;
  color: #f1f5f9;
  font-weight: 500;
  margin-left: 5px;
  line-height: 1.5;
}
